//
// Icon buttons
//

.btn-icon {
    .btn-inner--icon {
        img {
            width: 20px;
        }
   }

   .btn-inner--text:not(:first-child) {
       margin-left: 0.75em;
   }

   .btn-inner--text:not(:last-child) {
       margin-right: 0.75em;
   }
}


// Button only with icon and NO text

.btn-icon-only {
    width: 2.375rem;
    height: 2.375rem;
    padding: 0;
}

a.btn-icon-only {
    line-height: 2.5;
}

.btn-icon-only.btn-sm {
    width: 2rem;
    height: 2rem;
}


